<footer class="bg-dark">
    <div class="row footerMain">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <h4>Mapa</h4>
            <app-mapa></app-mapa>
        </div>
        <div class="col-md-4 text-center  col-sm-12 col-xs-12">
            <h4>MAIN</h4>
            <br>
            <p><a [routerLink]="['inicio']">INICIO</a></p>
            <p><a [routerLink]="['productos']">PRODUCTOS</a></p>
            <p><a>PROMOCIONES</a></p>
            <p><a>FABRICANTES</a></p>
            <p><a>CONTACTO</a></p>
        </div>
        <div class="col-md-4 text-center  col-sm-12 col-xs-12">
            <h4>Enlaces de interés</h4>
            <br>
            <p><a>Quienes somos</a></p>
            <p><a>Transmisión de potencia</a></p>
            <p><a>Medida y presión</a></p>
            <p><a>Componentes de automatización</a></p>
            <p><a>Otros productos</a></p>
        </div>
    </div>
</footer>
<div class="copyright text-center">
    <small>2019 - MAIN S.L. (Mecanismos Automáticos Industriales)</small>
</div>