<header class="animated fadeInDown">
    <div class="row">
        <div class="col-md-3">
            <img class="logo" src="assets/img/main-logo.png" alt="Logo Main SL">
        </div>
        <div class="col-lg-6 col-md-5"></div>
        <div class="col-lg-3 col-md-4 contactar">
            <ul class="logo">
                <li><small><a href="mailto:main@main-sl.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> Correo: main@main-sl.com</a></small></li>
                <li><small><a href="tel:+34 952 17 27 90"><i class="fa fa-phone" aria-hidden="true"></i> Tel Málaga: +34 952 17 27 90</a></small></li>
                <li><small><a href="tel:+34 913 272 286"><i class="fa fa-phone" aria-hidden="true"></i> Tel Madrid: +34 913 272 286</a></small></li>
            </ul>
        </div>
    </div>

</header>