.logo {
    padding: 15px;
}

header {
    background: #e0e0e0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.contactar {
    display: flex;
}

.contactar ul {
    margin: 0 auto;
}