<div class="row">
    <div class="tarjeta col-xl-4 col-lg-4 col-md-6 text-center" *ngFor="let fabricante of fabricantes">
        <a [href]="fabricante.url" target="_blank"><img class="fabImg" src="http://main-sl.com/main_server/app/assets/img/marcas/{{fabricante.imagen}}" [alt]="fabricante.nombre"></a>
        <br>
        <p>{{fabricante.descripcion}}</p>
    </div>
</div>