<main class="animated fadeInRight">
    <div class="row">
        <div class="col-xl-8 col-md-12 carousel">
            <app-slider></app-slider>
        </div>
        <div class="d-none d-xl-block col-md-4 about-mini">
            <app-jumbotron></app-jumbotron>
        </div>
    </div>
    <app-tipos></app-tipos>
    <app-marcas></app-marcas>
</main>