main {
    height: 800px;
    background: #E0E0E0;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    font-size: 70px;
    font-weight: 900;
}