<div class="card text-center">
    <div class="card-header ">
        <ul class="nav nav-tabs card-header-tabs ">
            <li class="nav-item">
                <a class="nav-link active" #madrid (click)="seleccionA()">Madrid</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" #malaga (click)="seleccionB()">Málaga</a>
            </li>
        </ul>
    </div>
    <div class="card-body" *ngIf="madridOK">
        <iframe class="animated fadeIn" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12177.293624176144!2d-3.8358446!3d40.2685656!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x59aa0702f9e1f8ec!2sMecanismos%20Autom%C3%A1ticos%20Industriales%20S%20L!5e0!3m2!1ses!2ses!4v1569771076591!5m2!1ses!2ses"
            width="100%" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        <div class="row">
            <div class="col-xl-6">
                <ul class="text-left">
                    <li><small><i class="fa fa-map-marker" aria-hidden="true"></i> C/ Camelia, 16</small></li>
                    <li><small><i class="fa fa-globe" aria-hidden="true"></i> 28970, Humanes De Madrid, Madrid</small></li>
                    <li><a href="mailto:eugenioruiz@main-sl.com"><small><i class="fa fa-envelope-o" aria-hidden="true"></i> Email: eugenioruiz@main-sl.com</small></a></li>
                </ul>
            </div>
            <div class="col-xl-6">
                <ul class="text-left">
                    <li><a href="tel:+34 916 90 69 49"><small><i class="fa fa-phone" aria-hidden="true"></i> Tel: +34 916 90 69 49</small></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-body" *ngIf="malagaOK">
        <iframe class="animated fadeIn" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12796.319707676228!2d-4.495308!3d36.6966172!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x272349a6a0991c20!2sMecanismos%20Autom%C3%A1ticos%20Industriales%20(MAIN%20M%C3%81LAGA)!5e0!3m2!1ses!2ses!4v1569791058377!5m2!1ses!2ses"
            width="100%" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        <div class="row">
            <div class="col-xl-6">
                <ul class="text-left">
                    <li><small><i class="fa fa-map-marker" aria-hidden="true"></i> C/ Cesar Vallejo, 59</small></li>
                    <li><small><i class="fa fa-globe" aria-hidden="true"></i> 29004, Málaga</small></li>
                    <li><a href="mailto:eugenioruiz@main-sl.com"><small><i class="fa fa-envelope-o" aria-hidden="true"></i> Email: eugenioruiz@main-sl.com</small></a></li>
                </ul>
            </div>
            <div class="col-xl-6">
                <ul class="text-left">
                    <li><a href="tel:+34 952 172 790"><small><i class="fa fa-phone" aria-hidden="true"></i> Tel: +34 952 172 790</small></a></li>
                    <li><a href="tel:+34 952 172 791"><small><i class="fa fa-fax" aria-hidden="true"></i> Fax: +34 952 172 791</small></a></li>
                    <li><a href="tel:+34 627 469 986"><small><i class="fa fa-mobile" aria-hidden="true"></i> Móvil: +34 627 469 986</small></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>