a {
    text-decoration: none;
    color: black;
}

p a {
    color: #FAFAFA;
}

small {
    display: block;
    padding-top: 10px;
}

li {
    list-style: none;
}

a:hover {
    cursor: pointer;
}

.card {
    margin-left: 10px;
}