<nav class="navbar navbar-expand-lg navbar-dark bg-dark animated fadeInLeftBig">
    <!--<a class="navbar-brand" href="#">Navbar</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['inicio']" routerLinkActive="active" #inicio>INICIO <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['productos']" routerLinkActive="active">PRODUCTOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['promociones']" routerLinkActive="active">PROMOCIONES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['fabricantes']" routerLinkActive="active">FABRICANTES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['contacto']" routerLinkActive="active">CONTACTO</a>
            </li>
        </ul>
    </div>
</nav>