<div class="slider">
    <div class="slide-track">
        <div class="slide" *ngFor="let marca of marcas">
            <a [href]="marca.url" target="_blank"><img class="imageSlide" src="http://main-sl.com/main_server/app/assets/img/marcas/{{marca.imagen}}" [alt]="marca.nombre" /></a>
        </div>
        <div class="slide" *ngFor="let marca of marcas">
            <a [href]="marca.url" target="_blank"><img class="imageSlide" src="http://main-sl.com/main_server/app/assets/img/marcas/{{marca.imagen}}" [alt]="marca.nombre" /></a>
        </div>
    </div>
</div>