<div class="card-group">
    <div class="card" *ngIf="tiposInicio[1]">
        <img src="http://main-sl.com/main_server/app/assets/img/tipos/{{tiposInicio[1].imagen_principal}}" class="card-img-top tipos" alt="...">
        <div class="card-body cuerpoTarjetas">
            <h5 class="card-title">{{tiposInicio[1].nombre}}</h5>
            <p class="card-text">{{tiposInicio[1].descripcion}}</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 tarjetas">
                    <img class="marcas" src="http://main-sl.com/main_server/app/assets/img/marcas/{{tiposInicio[1].imagen_marca_1}}">
                </div>
                <div class="col-md-4 tarjetas">
                    <img class="marcas" src="http://main-sl.com/main_server/app/assets/img/marcas/{{tiposInicio[1].imagen_marca_2}}">
                </div>
                <div class="col-md-4 tarjetas">
                    <img class="marcas" src="http://main-sl.com/main_server/app/assets/img/marcas/{{tiposInicio[1].imagen_marca_3}}">
                </div>
            </div>
        </div>
    </div>
    <div class="card" *ngIf="tiposInicio[2]">
        <img src="http://main-sl.com/main_server/app/assets/img/tipos/{{tiposInicio[2].imagen_principal}}" class="card-img-top tipos" alt="...">
        <div class="card-body cuerpoTarjetas">
            <h5 class="card-title">{{tiposInicio[2].nombre}}</h5>
            <p class="card-text">{{tiposInicio[2].descripcion}}</p>
        </div>
        <div class="card-body">
            <div class="row grupoTarjetas">
                <div class="col-md-4 tarjetas">
                    <img class="marcas" src="http://main-sl.com/main_server/app/assets/img/marcas/{{tiposInicio[2].imagen_marca_1}}">
                </div>
                <div class="col-md-4 tarjetas">
                    <img class="marcas" src="http://main-sl.com/main_server/app/assets/img/marcas/{{tiposInicio[2].imagen_marca_2}}">
                </div>
                <div class="col-md-4 tarjetas">
                    <img class="marcas" src="http://main-sl.com/main_server/app/assets/img/marcas/{{tiposInicio[2].imagen_marca_3}}">
                </div>
            </div>
        </div>
    </div>
    <div class="card" *ngIf="tiposInicio[3]">
        <img src="http://main-sl.com/main_server/app/assets/img/tipos/{{tiposInicio[3].imagen_principal}}" class="card-img-top tipos" alt="...">
        <div class="card-body cuerpoTarjetas">
            <h5 class="card-title">{{tiposInicio[3].nombre}}</h5>
            <p class="card-text">{{tiposInicio[3].descripcion}}</p>
        </div>
        <div class="card-body">
            <div class="row grupoTarjetas">
                <div class="col-md-4 tarjetas">
                    <img class="marcas" src="http://main-sl.com/main_server/app/assets/img/marcas/{{tiposInicio[3].imagen_marca_1}}">
                </div>
                <div class="col-md-4 tarjetas">
                    <img class="marcas" src="http://main-sl.com/main_server/app/assets/img/marcas/{{tiposInicio[3].imagen_marca_2}}">
                </div>
                <div class="col-md-4 tarjetas">
                    <img class="marcas" src="http://main-sl.com/main_server/app/assets/img/marcas/{{tiposInicio[3].imagen_marca_3}}">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-group">
    <div class="card" *ngIf="tiposInicio[4]">
        <img src="http://main-sl.com/main_server/app/assets/img/tipos/{{tiposInicio[4].imagen_principal}}" class="card-img-top tipos" alt="...">
        <div class="card-body cuerpoTarjetas">
            <h5 class="card-title">{{tiposInicio[4].nombre}}</h5>
            <p class="card-text">{{tiposInicio[4].descripcion}}</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 tarjetas">
                    <img class="marcas" src="http://main-sl.com/main_server/app/assets/img/marcas/{{tiposInicio[1].imagen_marca_1}}">
                </div>
                <div class="col-md-4 tarjetas">
                    <img class="marcas" src="http://main-sl.com/main_server/app/assets/img/marcas/{{tiposInicio[1].imagen_marca_2}}">
                </div>
                <div class="col-md-4 tarjetas">
                    <img class="marcas" src="http://main-sl.com/main_server/app/assets/img/marcas/{{tiposInicio[1].imagen_marca_3}}">
                </div>
            </div>
        </div>
    </div>
    <div class="card" *ngIf="tiposInicio[5]">
        <img src="http://main-sl.com/main_server/app/assets/img/tipos/{{tiposInicio[5].imagen_principal}}" class="card-img-top tipos" alt="...">
        <div class="card-body cuerpoTarjetas">
            <h5 class="card-title">{{tiposInicio[5].nombre}}</h5>
            <p class="card-text">{{tiposInicio[5].descripcion}}</p>
        </div>
        <div class="card-body">
            <div class="row grupoTarjetas">
                <div class="col-md-4 tarjetas">
                    <img class="marcas" src="http://main-sl.com/main_server/app/assets/img/marcas/{{tiposInicio[2].imagen_marca_1}}">
                </div>
                <div class="col-md-4 tarjetas">
                    <img class="marcas" src="http://main-sl.com/main_server/app/assets/img/marcas/{{tiposInicio[2].imagen_marca_2}}">
                </div>
                <div class="col-md-4 tarjetas">
                    <img class="marcas" src="http://main-sl.com/main_server/app/assets/img/marcas/{{tiposInicio[2].imagen_marca_3}}">
                </div>
            </div>
        </div>
    </div>
    <div class="card" *ngIf="tiposInicio[6]">
        <img src="http://main-sl.com/main_server/app/assets/img/tipos/{{tiposInicio[6].imagen_principal}}" class="card-img-top tipos" alt="...">
        <div class="card-body cuerpoTarjetas">
            <h5 class="card-title">{{tiposInicio[6].nombre}}</h5>
            <p class="card-text">{{tiposInicio[6].descripcion}}</p>
        </div>
        <div class="card-body">
            <div class="row grupoTarjetas">
                <div class="col-md-4 tarjetas">
                    <img class="marcas" src="http://main-sl.com/main_server/app/assets/img/marcas/{{tiposInicio[3].imagen_marca_1}}">
                </div>
                <div class="col-md-4 tarjetas">
                    <img class="marcas" src="http://main-sl.com/main_server/app/assets/img/marcas/{{tiposInicio[3].imagen_marca_2}}">
                </div>
                <div class="col-md-4 tarjetas">
                    <img class="marcas" src="http://main-sl.com/main_server/app/assets/img/marcas/{{tiposInicio[3].imagen_marca_3}}">
                </div>
            </div>
        </div>
    </div>
</div>